body{
    background-color: azure;
}

img#farid{
    border-radius: 50%;
    margin-left: 15%;
}

div#content{
}

div#menu {
    width: 12%;
    height: 100%;
    position: fixed;
    align-items: center;
    margin-left: 1%;
    /*background-color: #b93153;*/

}

p#presentation {
    color: black;
    font: Arial;
    font-size: 17px;
    text-align: center;
    margin-left: 15%;
}

h1#name{
    margin-left: 15%;
    text-align: center;
}

.menu{
    
    font: arial;
    font-size: 17px;
}

.btn-menu:hover a, .btn-menu:hover{
    background-color: azure;
    color: #b93153;
    transition: 0.2s all;
}

.btn-menu {
    color: #b93153;
    list-style-type: none;
    font-size: 17px; 
    background: #b93153;
    margin-bottom: 3px;
    text-align: center;
    margin-left: 0px;
}


.a-bar{
    text-decoration: none;
    color: azure;
    font-size: 29px;
    padding: 1%;
    font: Arial;
}

.contact{
    list-style-type: none;
    font-size: 15px;

}

#lien-interne {
    color: aliceblue;
}


title#welcome{
    margin-right: 20%;
}

div#me {
    position: relative;
    top: 0;
    right: 30%;
    left : 25%;
    width: 60%;
    font-size: 23px;
    border: 5px double #b93153;
    text-align: center;
    border-radius: 10px;
  }

  div#resume {
    position: relative;
    top: 10px;
    right: 30%;
    left : 25%;
    width: 60%;
    font-size: 23px;
    border: 5px double #b93153;
    text-align: center;
    border-radius: 10px;
  }